body{
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    text-align: center;
}
.sobrenome{
    margin-right: 30px;
}
.nun1{
background-color: black;
}
.nun2{
    background-color: red;  
}
.nun3{
    background-color: black;
}
